html {
    background: url("images/thailand_5.jpg") no-repeat center center fixed;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    --o-background-size: cover;
    background-size: cover;
}

#header-top-left {
    position: absolute;
    top: 3%;
    left: 1%;
}

#center-right {
    /* font-size: 4em; */
    position: absolute;
    top: 8%;
    left: 68%;
    margin-top: -50px;
    margin-left: -50px;
}

#phil-center-right {
    font-size: 4em;
}

#contact-center-bottom {
    position: absolute;
    top: 80%;
    left: 45%;
}

.highlighted-text {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}